@model final.Models.Licitacoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Licitacoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.licitador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.licitador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorLicitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorLicitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.veiculosParaVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculosParaVenda.Ano)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LicitacoesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
