@model final.Models.carsLicitacoes

@{
    ViewData["Title"] = "Detalhes";
}



<div>
   <h1>Detalhes</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Marca
         @*   @Html.DisplayNameFor(model => model.NomeMarca)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculosParaVenda  .NomeMarca )
        </dd>
        <dt class = "col-sm-2">
              Modelo
            @*@Html.DisplayNameFor(model => model.NomeModelo)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculosParaVenda .NomeModelo)
        </dd>
        <dt class = "col-sm-2">
            Ano
            @*@Html.DisplayNameFor(model => model.Ano)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculosParaVenda .Ano)
        </dd>
        <dt class = "col-sm-2">
            Cilindrada
            @*@Html.DisplayNameFor(model => model.Cilindrada)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculosParaVenda .Cilindrada)
        </dd>
        <dt class = "col-sm-2">
             Preço k€
            @*@Html.DisplayNameFor(model => model.Preco)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculosParaVenda .Preco)
        </dd>
        <dt class = "col-sm-2">
              Número de licitações
            @*@Html.DisplayNameFor(model => model.Categoria)*@
        </dt>
        <dd class = "col-sm-10">
              @Html.DisplayFor(model => model.Licitacoess.Count)
        </dd>
    </dl>
</div>





    <h4>Licitoes</h4>
    <hr />
    <table class="table" id="myTable" >
        <thead>
            <tr>
                <td>Licitador: </td>
                  <td>Valor Licitado:</td>
            </tr>
                    </thead>
                            @foreach (Licitacoes  car in Model.Licitacoess  )
    {

        <tr>
            <td>@car.licitador  </td>
            <td>@car.valorLicitado  </td>
     
        </tr>
      

    }



            </table>


<div>
    
</div>


<div>
   
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script type ="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type ="text/javascript" src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

}

