@model IEnumerable<final.Models.veiculosParaVenda >

@{
    ViewData["Title"] = "Lista de veiculos";
}

<h1>Lista de veiculos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Marca
                @*@Html.DisplayNameFor(model => model.NomeMarca)*@
            </th>
            <th>
                 Modelo
                @*@Html.DisplayNameFor(model => model.NomeModelo)*@
            </th>
            <th>
                Ano
                @*@Html.DisplayNameFor(model => model.Ano)*@
            </th>
            <th>
                Cilindrada
                @*@Html.DisplayNameFor(model => model.Cilindrada)*@
            </th>
            <th>
                Preço k€
                @*@Html.DisplayNameFor(model => model.Preco)*@
            </th>
      @*      <th>
            
                Html.DisplayNameFor(model => model.CategoriaId)*
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.NomeMarca  )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cilindrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
     @*       <td>
                @Html.DisplayFor(modelItem => item.CategoriaId   )
            </td>*@
            <td>
                    <a asp-action="licitar" >licitar</a> |
                 
                    @**@
  
                  <a asp-action="Detalhes" asp-route-id="@item.Id ">Ver Detalhes - licitações</a> 
      
            </td>
        </tr>
}
    </tbody>
</table>
